<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:MM:ss:SSS} [%thread] %5-level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-red red="CONSOLE"/>
    </root>
    <logger name="ee" level="DEBUG"/>
</configuration>